@tailwind base;
@tailwind components;
@tailwind utilities;


#pager
{
    display: inline-block;
    /* display: block; */
    align-self: center;
    right:  50% !important;
    /* left:  50% !important; */
    position: absolute;
}

.pageNumber.sel
{
    cursor:inherit;
    background-color: darkslategray;
    color: ghostwhite;
    font-weight: bolder;
}

.pageButton
{
    border: 4px groove crimson;
    cursor: pointer;
    border-radius: 50%;
    width: 36px !important;
    height: 36px;
    display: inline-block;
    /* margin: auto; */
    text-align: center;
    align-content: space-evenly;
    margin: 1px;
}


.asc
{
    background-color: lightgreen;
}

.desc
{
    background-color: lightcoral;
}

.logoutButton
{
    position: absolute;
    right: 0;
}

#tasksPageContent
{
    margin: 0;
    padding: 2px;
}

.exportExcel
{
    position: absolute;
    right: 5px;
    padding: 3px;
    color: ghostwhite;
    background-color: forestgreen;
    border-radius: 3px;
    /* font-weight: bold; */
}

.exportExcel:hover
{
    color: white;
    font-weight: bolder;
}